extends _layout

block content

  header( class='intro')
    div( class='intro-body')
      div( class='container')
        div( class='row')
          div( class='col-md-8 col-md-offset-2')
            h1( class='brand-heading' ) FrameRat.js
            p( class='intro-text') An open source animation frame library written in Javascript.
              br/
              br/ 
              a( href='#about' class='btn btn-circle page-scroll' )
                i( class='fa fa-angle-double-down animated' )

  section( id='about' class='container content-section text-center' )
    div( class='row' )
      div( class='col-lg-8 col-lg-offset-2' )
        h2 About
        
        p The purpose of this library is to provide a simple way to control an animation while providing useful methods to monitor it and polyfills.

        p Check 
          a( class='page-scroll' href='#example' ) Example 
          |and 
          a( class='page-scroll' href='#source' ) Code 
          |section for more information on how to use FrameRat.js. There is also a 
          a( class='page-scroll' href='#documentation' ) documentation 
          | if you need to go deeper.
        
        p You can help develop FrameRat.js on 
          a( href='https://github.com/LCluber' target='_blank' ) Github
          |.
        
  section( id='example' class='container content-section text-center' )
    div( class='row' )
      div( class='col-lg-8 col-lg-offset-2' )
        h2 Example
        
        ul( class='list-inline banner-social-buttons' )
          li
            button( type='button' class='btn btn-default' onclick='playAnimation()' ) Play
          li
            button( type='button' class='btn btn-default' onclick='pauseAnimation()' ) Pause
          li
            button( type='button' class='btn btn-default' onclick='stopAnimation()' ) Stop
        
        canvas( id='canvas' )
                
  section( id='source' class='container content-section text-center' )
    div( class='row' )
      div( class='col-lg-8 col-lg-offset-2' )
        h2 Code
        
        h3 Javascript (main.js)
        
        p Instantiate an animation with an onAnimate callback .
        pre. 
          var animation = FRAMERAT.create(render);
        
        p Render function
        pre.
          function render(){
            clearFrame();
            drawStuff();
            writeStuff('Elapsed time : '     + animation.getTotalTime(0) + ' seconds');
            writeStuff('Frame number : '     + animation.getFrameNumber());
            writeStuff('Frame Per Second : ' + animation.getFramePerSecond(30, 0));
            writeStuff('Frame duration : '   + animation.getDelta().getSecond();
            writeStuff('Rounded Frame duration : ' + animation.getRoundedDelta(30, 0).getMillisecond() + ' ms');
            animation.newFrame();
          }
        
        p Play, Pause, Stop functions
        pre.
          function playAnimation(){ //bind a button to this function
            animation.play();
          }

          function pauseAnimation () { //bind a button to this function
            animation.pause();
          }

          function stopAnimation () { //bind a button to this function
            animation.stop();
            clearFrame();
          }
          
  
  section( id='download' class='container content-section text-center' )
    div( class='row' )
      div( class='col-lg-8 col-lg-offset-2' )
        h2 Download FrameRat.js
        ul( class='list-inline banner-social-buttons' )
          li
            a( href='dist/orbis.min.js' class='btn btn-default btn-lg' target='_blank' download='orbis.min.js' title='Minified library only') FrameRat.min.js
          li
            a( href='zip/orbisjs.zip' class='btn btn-default btn-lg' target='_blank' download='orbisjs.zip' title='Package with documentation and examples') FrameRatjs.zip 
          li
            a( href='https://github.com/LCluber/FrameRat.js' class='btn btn-default btn-lg' target='_blank' title='Sources for the entire project')
              i( class='fa fa-github fa-fw' )
              |Clone from Github

  section( id='contact' class='container content-section text-center' )
    div( class='row' )
      div( class='col-lg-8 col-lg-offset-2' )
        h2 Contact me
        p Feel free to ask me about my work, give me suggestions, or just to say hi.
        ul( class='list-inline banner-social-buttons' )
          li
            a( href='http://www.lcluber.com/contact.php' class='btn btn-default btn-lg' target='_blank' )
              |lcluber.com
          li
            a( href='https://twitter.com/LCluber' class='btn btn-default btn-lg' target='_blank' )
              i( class='fa fa-twitter fa-fw' ) 
              |Twitter
          li
            a( href='https://github.com/LCluber' class='btn btn-default btn-lg' target='_blank' )
              i( class='fa fa-github fa-fw' ) 
              |Github
